# Nombre del workflow
name: Desplegar Frontend en Azure App Service

# Triggers
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      # 1. Checkout del repositorio
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      # 2. Login en Azure
      - name: 'Login en Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 3. Login en el ACR
      - name: 'Login en Azure Container Registry (ACR)'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # 4. Construir y subir imagen Docker (Frontend)
      - name: Construir y subir la imagen Docker (Frontend)
        run: |
          docker build . \
            --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} \
            --build-arg VITE_MAPBOX_ACCESS_TOKEN=${{ secrets.VITE_MAPBOX_ACCESS_TOKEN }} \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/fitapp-frontend:${{ github.sha }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/fitapp-frontend:${{ github.sha }}

      # 5. Desplegar en Azure App Service
      - name: 'Desplegar en Azure App Service (Frontend)'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'fitappweb'
          images: '${{ secrets.ACR_LOGIN_SERVER }}/fitapp-frontend:${{ github.sha }}'

      # 6. Logout de Azure
      - name: Logout de Azure
        if: always()
        run: |
          docker logout ${{ secrets.ACR_LOGIN_SERVER }}
          az logout
